body{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.15em;
    background-color: #efefef;
}

#page{
    max-width: 920px;
    min-width: 720px;
    margin: auto;
    padding: 0px 0px 400px 0px;
    border: 4px double #000;
    background-color: #ffffff;
}
#logo{
    width: 150px;
    margin: 10px 50px 25px 210px;
}
#logo img{
    width: 500px;
    margin: 0 auto;
}

#navi{
    width: 570px;
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;
}
#navi button{
    color: cadetblue;
    background-color:#ffffff ;
    border: 0;
    font-size: 20px;
    padding: 7px 30px;
    text-decoration: none;

}
#navi button:hover{
    color: #343f52;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 1px 1px 10px #7a89b6, -1px -1px 10px #7a89b6;
    box-shadow: 1px 1px 5px #7a89b6, -1px -1px 5px #7a89b6;
}
p{
    text-align: center;
    width: 600px;
    margin: 20px auto 20px auto;
    font-weight: normal;
}
#bird{
    width: 70%;
    height: 90%;
    margin-left: 15%;
}